*{
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.heading-text {
    font-family: 'Cinzel Decorative', cursive;
    padding-top: 20vh;
    margin-left: 5rem;
    font-size: 2.5rem;;
}

header{
    background: url(../img/GOT.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
  }

  .overlay{
    background-color: #2C302F;
    background-size: cover;
    opacity: .90;
    background-position: center;
    height: 80vh;
    position: relative;
  }

@media (max-width: 600px) {
  .heading-text {
    font-size: 2rem;
  };
}

